## 강원관광

In [2]:
import requests
from bs4 import BeautifulSoup

In [4]:
url = 'https://www.gangwon.to/gwtour/gangwondo_trip/tourist_spot/nature'
gang_data = requests.get(url).content
soup = BeautifulSoup(gang_data, 'html.parser')

In [66]:
import re
idx = 0
gang_tmp = soup.select('#contents > div.contsArea.skinContainer > ul.nlist01.clearfix > li')[idx].text
gang_tmp = re.sub('[\n ]{2,}', '', gang_tmp)
gang_tmp = gang_tmp.split('\n')
gang_tmp

['해변',
 '낙산해변',
 '강원 양양군 양양읍 전진리와 조산리에 걸쳐있는 해수욕장이다. 동해안 지역의 많은 해수욕장 중에서 경포대 해수욕장과 함께 명소로 꼽힌다. 이곳은 울창한 소나무숲을 배경으로 4km의 백사장이 펼쳐져 있고, 설악산에서 흘러내리는 남대천이 하구에 큰 호수를 이루고 있어 담수도 풍부하다.']

In [72]:
(609 // 6) + 1

102

In [73]:
from tqdm import tqdm_notebook
tot_page_num = (609 // 6) + 1 # 페이지 개수 공식 

loc_url = 'https://www.gangwon.to/gwtour/gangwondo_trip/tourist_spot/nature?pageIndex={}' # 넷웍에서 확인한 파라미터
dat = [] # 최종
data_list = [] # 페이지별 데이터

# 페이지별로 돌아가면서 정보 쓸어오기
for page in tqdm_notebook(range(1, tot_page_num+1)):
    page_url = loc_url.format(page)
    search_page_html = requests.get(page_url).content
    search_page_soup = BeautifulSoup(search_page_html, 'html.parser')
    
    if page < 102:
    # 각 페이지에 있는 데이터를 전처리 후 리스트에 담음
        for idx in range(6):
            gang_tmp = search_page_soup.select('#contents > div.contsArea.skinContainer > ul.nlist01.clearfix > li')[idx].text
            gang_tmp = re.sub('[\n ]{2,}', '', gang_tmp)
            gang_tmp = gang_tmp.split('\n')

            data_list.append(gang_tmp)
    
    else:
        for idx in range(3):
            gang_tmp = search_page_soup.select('#contents > div.contsArea.skinContainer > ul.nlist01.clearfix > li')[idx].text
            gang_tmp = re.sub('[\n ]{2,}', '', gang_tmp)
            gang_tmp = gang_tmp.split('\n')

            data_list.append(gang_tmp)
    
    # 페이지별 정보를 다시 종합    
    dat.append(data_list)

print(dat)

/home/jaehoon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if __name__ == '__main__':

  0%|          | 0/102 [00:00<?, ?it/s]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [84]:
pd.DataFrame(sum(dat,[])).iloc[:, 0:3]

           0            1                                                  2
0         해변         낙산해변  강원 양양군 양양읍 전진리와 조산리에 걸쳐있는 해수욕장이다. 동해안 지역의 많은 해...
1          섬          남이섬  동화나라 노래의 섬 남이섬은 원래는 구릉지로 만들어진 작은 봉우리였다고 한다. 지금...
2         공원       추암근린공원  강원도 동해시 추암동에 위치하고 있으며, 전국 최고의 해돋이 명소인 ‘추암촛대바위’...
3         해변         추암해변  동해안의 삼해금강이라고도 불리우는 맑은 물과 잘게 부서진 백사장이 아름다운 추암해변...
4         해변  속초해변/속초해수욕장   속초시민과 관광객들의 발길이 항상 끊이질 않는 곳으로 공원과 꽃길, 송림 산책로가...
...      ...          ...                                                ...
62113   해안비경    초곡용굴촛대바위길  깨끗한 바다와 기암괴석, 해안절벽에 데크길과 충렁다리등이 조성되어 바다향과 파도, ...
62114     공원        파로호꽃섬  파로호 습지의 갈대숲을 2018년도 꽃섬으로 조성한 곳이다. 사계절 다양한 꽃을 볼...
62115   자연생태    DMZ펀치볼둘레길  DMZ펀치볼둘레길은 국토정중앙 최북단이라는 상징성과 전쟁과 평화에 관련된 테마를 중...
62116  자연휴양림    망경대산자연휴양림  이끼와 돌을 활용한 암석이끼원 돌집건축 등을 배치해 휴식과 체험이 이뤄지는 휴양공간...
62117   자연생태      삼척두루미마을  두루미를 비롯한 다양한 동물들을 사육하고 있으며, 유아.청소년들을 위한 체험프로그램...

[62118 rows x 3 columns]

In [210]:
df_fin = pd.DataFrame(sum(dat, []))
df_fin.fillna(' ', inplace=True)
df_fin['설명'] = df_fin[[2, 3, 4, 5]].apply(' '.join, axis=1)
df_fin.drop(df_fin[[2, 3, 4, 5]], axis=1)

           0            1                                                 설명
0         해변         낙산해변  강원 양양군 양양읍 전진리와 조산리에 걸쳐있는 해수욕장이다. 동해안 지역의 많은 해...
1          섬          남이섬  동화나라 노래의 섬 남이섬은 원래는 구릉지로 만들어진 작은 봉우리였다고 한다. 지금...
2         공원       추암근린공원  강원도 동해시 추암동에 위치하고 있으며, 전국 최고의 해돋이 명소인 ‘추암촛대바위’...
3         해변         추암해변  동해안의 삼해금강이라고도 불리우는 맑은 물과 잘게 부서진 백사장이 아름다운 추암해변...
4         해변  속초해변/속초해수욕장   속초시민과 관광객들의 발길이 항상 끊이질 않는 곳으로 공원과 꽃길, 송림 산책로가...
...      ...          ...                                                ...
62113   해안비경    초곡용굴촛대바위길  깨끗한 바다와 기암괴석, 해안절벽에 데크길과 충렁다리등이 조성되어 바다향과 파도, ...
62114     공원        파로호꽃섬  파로호 습지의 갈대숲을 2018년도 꽃섬으로 조성한 곳이다. 사계절 다양한 꽃을 볼...
62115   자연생태    DMZ펀치볼둘레길  DMZ펀치볼둘레길은 국토정중앙 최북단이라는 상징성과 전쟁과 평화에 관련된 테마를 중...
62116  자연휴양림    망경대산자연휴양림  이끼와 돌을 활용한 암석이끼원 돌집건축 등을 배치해 휴식과 체험이 이뤄지는 휴양공간...
62117   자연생태      삼척두루미마을  두루미를 비롯한 다양한 동물들을 사육하고 있으며, 유아.청소년들을 위한 체험프로그램...

[62118 rows x 3 columns]

## 2. 로나코

In [92]:
url = 'https://www.seoul.go.kr/coronaV/coronaStatus.do?pageIndex=0'
gang_data = requests.get(url).content
soup = BeautifulSoup(gang_data, 'html.parser')

soup.select('#DataTables_Table_0 > tbody > tr')

[]

In [170]:
import json

lst=[]
for idx in tqdm_notebook(range(300)):
    tmp_data = requests.get("https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw={}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start={}00&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&".format(idx,idx)).content
# tmp_data = requests.get('https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=8&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=200&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1626075606409').content
    data = json.loads(tmp_data)
    lst.append(data)

/home/jaehoon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/300 [00:00<?, ?it/s]

In [187]:
pd.DataFrame(sum(pd.DataFrame(lst)['data'], []), columns=['연번', '환자', '확진일', '거주지', '여행력', '접촉력', '퇴원현황'])

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황
0,<p class='corona19_no'>30000</p>,95868,2021-03-14,강남구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
1,<p class='corona19_no'>29999</p>,95649,2021-03-14,용산구,-,감염경로 조사중,<b class='status1'>퇴원</b>
2,<p class='corona19_no'>29998</p>,95809,2021-03-14,관악구,-,영등포구 소재 빌딩 관련,<b class='status1'>퇴원</b>
3,<p class='corona19_no'>29997</p>,95805,2021-03-14,송파구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
4,<p class='corona19_no'>29996</p>,95812,2021-03-14,송파구,-,송파구 소재 병원 관련('21.3.),<b class='status1'>퇴원</b>
...,...,...,...,...,...,...,...
29995,<p class='corona19_no'>5</p>,9,2020-01-31,성북구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
29996,<p class='corona19_no'>4</p>,7,2020-01-30,마포구,중국,해외유입,<b class='status1'>퇴원</b>
29997,<p class='corona19_no'>3</p>,6,2020-01-30,종로구,-,종로구 집단발병,<b class='status1'>퇴원</b>
29998,<p class='corona19_no'>2</p>,5,2020-01-30,중랑구,중국,해외유입,<b class='status1'>퇴원</b>
29999,<p class='corona19_no'>1</p>,2,2020-01-24,강서구,중국,해외유입,<b class='status1'>퇴원</b>

## 모범답안 강원관광

### 1개 가져오기

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.gangwon.to/gwtour/gangwondo_trip/tourist_spot/nature'

response_text = requests.get(url)
html_text = response_text.content
soup = BeautifulSoup(html_text, 'html.parser')

# 데이터 1개 가져오기

## 범위가 너무 넓다
sample_li = soup.select_one('#contents > div.contsArea.skinContainer > ul.nlist01.clearfix > li')
## class='text'만 가져오자
sample_text_div = sample_li.find('div', {'class':'text'}) #select_one('div.text')

## 분리해서 가져오자
cat = sample_text_div.select_one('span').text
title = sample_text_div.select_one('strong').text
desc = sample_text_div.select_one('p').text

print(cat, title, desc)

해변 낙산해변 강원 양양군 양양읍 전진리와 조산리에 걸쳐있는 해수욕장이다. 동해안 지역의 많은 해수욕장 중에서 경포대 해수욕장과 함께 명소로 꼽힌다. 이곳은 울창한 소나무숲을 배경으로 4km의 백사장이 펼쳐져 있고, 설악산에서 흘러내리는 남대천이 하구에 큰 호수를 이루고 있어 담수도 풍부하다.

### 1페이지 데이터 가져오기

In [3]:
tot_ul = soup.select_one('#contents > div.contsArea.skinContainer > ul.nlist01.clearfix')
all_li = tot_ul.select('li') # 데이터 1개 짜리를 여러개 가져오겠다
len(all_li)

6

In [4]:
for li in all_li:
    text_div = li.select_one('div.text') # "안전하게" li 가져오기
    cat = text_div.select_one('span').text
    title = text_div.select_one('strong').text
    desc = text_div.select_one('p').text

print(cat, title, desc)

해변 망상해변 울창한 송림을 뒤로 해안선을 따라 끝없이 펼쳐진 깨끗한 백사장과 맑고 얕은 수심의 동해안 제1의 해변. 은빛 모래를 밟으며, 드넓은 수평선을 바라보며, 밀려오는 해풍에 가슴을 열고 드넓은 동해의 품에 안겨 가슴 속까지 시원함을 느껴볼 수 있다. 망상해변은 국민관광지 제2호로 지정되어있고 해안선의 길이는 2km정도이다. 수심은 1.5m를 유지한다.

### 모든 페이지(=페이지네이션) 데이터 가져오기

#### post 방식은 key 값을 어떻게 보내야 할까?

In [ ]:
import pandas as pd
from tqdm.notebook import tqdm

last_page = 102
url = 'https://www.gangwon.to/gwtour/gangwondo_trip/tourist_spot/nature'

datas = []
for page in tqdm(range(1, last_page + 1)):
    data = {'pageIndex': page}
    # post 방식에서 key 보내는 방법
    response = requests.post(url, data).content
    soup = BeautifulSoup(response, 'html.parser')
    
    total_ul = soup.select_one("#contents > div.contsArea.skinContainer > ul.nlist01.clearfix")
    all_li = total_ul.select('li')
    
    for li in all_li:
        text_div = li.select_one('div.text')
        cat = text_div.select_one('span').text
        title = text_div.select_one('strong').text
        desc = text_div.select_one('p').text
        
        scrap_data = {
            '카테고리': cat,
            '관광지': title,
            '관광지소개': desc,
        }
        
        datas.append(scrap_data)
        
tour_df = pd.DataFrame(datas)
tour_df.head()

### 꿀팁 1. find는 언제 써야 할까?
속성(클래스)들이 복잡할 때, select는 간단한 경우만

- 미세먼지 팁  
    **nth()child**
    이거 자체가 selector라 bs4에서 지원 안 해준데

### 꿀팁 2. 안전한 크롤링
사이트의 html이 바뀌어서 갑자기 크롤링이 안 될때,  

어디에서 안 되는지 확인하기 위해서 for loop에  

select_one할 것들의 **상위 클래스**를 **명시적**으로 넣어둔다

### 꿀팁 3. for문을 pandas로 받으려면?

- 닥치고 for문 안에 **dict**로 써놔라. df로 바꿀 때 엄청 편하다

## 모범답안 로나코

In [8]:
import requests
import pandas as pd
import numpy as np

url = 'https://www.seoul.go.kr/coronaV/coronaStatus.do'

# 와... ㅅX 이게 되네. 찬양해 갓다스
table = pd.read_html(url)
table[0]

,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,동대문구,동작구,마포구
0,3836,2195,1532,2624,2555,1866,1799,926,2500,1671,2006,2256,1892
1,+46,+13,+6,+19,+29,+13,+13,+11,+22,+7,+12,+15,+20
2,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
3,1388,2482,1662,2257,3332,1882,2123,1611,2326,901,813,2269,4711
4,+4,+10,+19,+15,+30,+14,+19,+13,+20,+13,+5,+11,+18

In [9]:
tmp_url = 'https://finance.naver.com/item/sise.nhn?code=005930'
pd.read_html(tmp_url, encoding='cp949')[1].head()

          0        1     2      3
0       현재가    79800  매도호가  79900
1      전일대비  상승  100  매수호가  79800
2    등락률(%)   +0.13%   전일가  79700
3       거래량  9719768    시가  80000
4  거래대금(백만)   777311    고가  80200

### 주소 + 옵션 + JSON?

- 크롬 익스텐션 Json 설치하면 아래 url을 한 방에 확인가능!

In [11]:
import json

url = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1&start=100"
response = requests.get(url)
data_json = response.content  # response.json() 을 사용하면 json.loads를 할 필요 없다!
data_json = json.loads(data_json)

records_total = data_json['recordsTotal']
end_page = round(records_total / 100) + 1 if records_total % 100 != 0 else round(records_total / 100)

In [13]:
from tqdm.notebook import tqdm


def get_seoul_covid(page_no):
    '''
      page_no : draw값
    '''
    start = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}&start={start}&length=100"
    res = requests.get(url)
    json_data = res.json()  # json 데이터 불러오기

    return json_data


page_list = []

example_end_page = 3

for page_no in tqdm(range(1, example_end_page+1)):
    data = get_seoul_covid(page_no)
    covid_df = pd.DataFrame(data['data'])
    page_list.append(covid_df)
final_df = pd.concat(page_list)
final_df.info()

  0%|          | 0/3 [00:00<?, ?it/s]

In [16]:
pd.concat(page_list)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>55415</p>,169967,2021-07-12,영등포구,-,감염경로 조사중,<b class=''>-</b>
1,<p class='corona19_no'>55414</p>,169293,2021-07-12,타시도,-,감염경로 조사중,<b class=''>-</b>
2,<p class='corona19_no'>55413</p>,170295,2021-07-12,성동구,-,기타 확진자 접촉,<b class=''>-</b>
3,<p class='corona19_no'>55412</p>,170281,2021-07-12,광진구,-,감염경로 조사중,<b class=''>-</b>
4,<p class='corona19_no'>55411</p>,170012,2021-07-12,타시도,-,감염경로 조사중,<b class=''>-</b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>55120</p>,169928,2021-07-12,성북구,-,기타 확진자 접촉,<b class=''>-</b>
96,<p class='corona19_no'>55119</p>,169711,2021-07-12,도봉구,-,병원 및 요양시설,<b class=''>-</b>
97,<p class='corona19_no'>55118</p>,169698,2021-07-12,구로구,-,기타 확진자 접촉,<b class=''>-</b>
98,<p class='corona19_no'>55117</p>,169629,2021-07-12,동대문구,-,동대문구 소재 고시텔 관련('21.6.),<b class=''>-</b>
99,<p class='corona19_no'>55116</p>,169622,2021-07-12,동작구,-,동작구 소재 종교시설 관련('21.7.),<b class=''>-</b>