## Integer Encoding

- Integer Encoding
    * 단어 토큰에 고유한 정수 부여
    * ~중복 허용
    * OOV와 결합가능
    * padding : 문장마다 길이가 다른 경우 0을 이용해 보정

- 무슨 기준으로 Integer Encoding할 때 정수를 부여할까?
    * 가나다 순
    * 빈도 순

##### text 저장

In [1]:
import nltk
text = """Isn't she lovely.
Isn't she wonderful.
Isn't she precious.
Less than one minute old.
I never thought through love we'd be.
Making one as lovely as she.
But isn't she lovely made from love.
Isn't she pretty.
Truly the angel's best.
Boy, I'm so happy.
We have been heaven blessed.
I can't believe what God has done.
Through us he's given life to one.
But isn't she lovely made from love.
Isn't she lovely.
Life and love are the same.
Life is Aisha.
The meaning of her name.
Londie, it could have not been done.
Without you who conceived the one.
That's so very lovely made from love."""

### English Tokenize

#### 문장 토큰화

In [2]:
from nltk.tokenize import sent_tokenize

sent_tokens = sent_tokenize(text)
print(sent_tokens)

["Isn't she lovely.", "Isn't she wonderful.", "Isn't she precious.", 'Less than one minute old.', "I never thought through love we'd be.", 'Making one as lovely as she.', "But isn't she lovely made from love.", "Isn't she pretty.", "Truly the angel's best.", "Boy, I'm so happy.", 'We have been heaven blessed.', "I can't believe what God has done.", "Through us he's given life to one.", "But isn't she lovely made from love.", "Isn't she lovely.", 'Life and love are the same.', 'Life is Aisha.', 'The meaning of her name.', 'Londie, it could have not been done.', 'Without you who conceived the one.', "That's so very lovely made from love."]

#### 단어 토큰화

In [3]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

stop_word = set(stopwords.words('english')) #불용어 집합화

단어를 토큰화 시켜서 리스트 형태로 저장하겠다

In [4]:
sentences = []
for sent in sent_tokens:
    word_tokens = word_tokenize(sent) # 각 문장을 단어 토큰화
    result = [] # 불용어 제거, 길이가 짧은 단어 제거한 데이터를 담을 리스트
    
    for word in word_tokens:
        word = word.lower() # 소문자 = 정규화

        if word not in stop_word: # 불용어 처리
            if len(word) > 2 : # 단어 길이 2이상만
                result.append(word)
        
    sentences.append(result)
print(sentences)
print(result) # for문 안에서 result는 리셋되기 때문에 맨 마지막 것만 살아남음

[["n't", 'lovely'], ["n't", 'wonderful'], ["n't", 'precious'], ['less', 'one', 'minute', 'old'], ['never', 'thought', 'love'], ['making', 'one', 'lovely'], ["n't", 'lovely', 'made', 'love'], ["n't", 'pretty'], ['truly', 'angel', 'best'], ['boy', 'happy'], ['heaven', 'blessed'], ["n't", 'believe', 'god', 'done'], ['given', 'life', 'one'], ["n't", 'lovely', 'made', 'love'], ["n't", 'lovely'], ['life', 'love'], ['life', 'aisha'], ['meaning', 'name'], ['londie', 'could', 'done'], ['without', 'conceived', 'one'], ['lovely', 'made', 'love']]
['lovely', 'made', 'love']

#### 단어 집합

규칙 : 빈도가 높을 수록 앞에 오도록 만들 예정

sum 응용 -> counter -> sorted 응용

In [5]:
words = sum(sentences, [])
# sum을 하는 순간 속 리스트가 하나 해제된다.
# list에 더한다? =append이기 때문에 그 뒤에 extend처럼 뒤에 붙는거다.
# sum([1,2,3], 10) 1,2,3 더한 다음 10에 더한다
print(words)

["n't", 'lovely', "n't", 'wonderful', "n't", 'precious', 'less', 'one', 'minute', 'old', 'never', 'thought', 'love', 'making', 'one', 'lovely', "n't", 'lovely', 'made', 'love', "n't", 'pretty', 'truly', 'angel', 'best', 'boy', 'happy', 'heaven', 'blessed', "n't", 'believe', 'god', 'done', 'given', 'life', 'one', "n't", 'lovely', 'made', 'love', "n't", 'lovely', 'life', 'love', 'life', 'aisha', 'meaning', 'name', 'londie', 'could', 'done', 'without', 'conceived', 'one', 'lovely', 'made', 'love']

In [6]:
from collections import Counter # 횟수 세기 용도
vocab = Counter(words)
vocab

Counter({"n't": 8,
         'lovely': 6,
         'wonderful': 1,
         'precious': 1,
         'less': 1,
         'one': 4,
         'minute': 1,
         'old': 1,
         'never': 1,
         'thought': 1,
         'love': 5,
         'making': 1,
         'made': 3,
         'pretty': 1,
         'truly': 1,
         'angel': 1,
         'best': 1,
         'boy': 1,
         'happy': 1,
         'heaven': 1,
         'blessed': 1,
         'believe': 1,
         'god': 1,
         'done': 2,
         'given': 1,
         'life': 3,
         'aisha': 1,
         'meaning': 1,
         'name': 1,
         'londie': 1,
         'could': 1,
         'without': 1,
         'conceived': 1})

In [7]:
vocab_sorted = sorted(vocab.items(), key=lambda x : x[1], reverse=True) #여기서 x는? tuple 1개
vocab_sorted

[("n't", 8),
 ('lovely', 6),
 ('love', 5),
 ('one', 4),
 ('made', 3),
 ('life', 3),
 ('done', 2),
 ('wonderful', 1),
 ('precious', 1),
 ('less', 1),
 ('minute', 1),
 ('old', 1),
 ('never', 1),
 ('thought', 1),
 ('making', 1),
 ('pretty', 1),
 ('truly', 1),
 ('angel', 1),
 ('best', 1),
 ('boy', 1),
 ('happy', 1),
 ('heaven', 1),
 ('blessed', 1),
 ('believe', 1),
 ('god', 1),
 ('given', 1),
 ('aisha', 1),
 ('meaning', 1),
 ('name', 1),
 ('londie', 1),
 ('could', 1),
 ('without', 1),
 ('conceived', 1)]

In [8]:
word2idx = {}
i = 0 # 실제 부여되는 인덱스

for (word, freq) in vocab_sorted:
    
    # 빈도수 낮은 단어는 제거
    if freq > 1:
        i = i + 1
        word2idx[word] = i
        
print(word2idx)

{"n't": 1, 'lovely': 2, 'love': 3, 'one': 4, 'made': 5, 'life': 6, 'done': 7}

- 핵심
빈도수가 가장 높은 상위 n개만 뽑아야한다!

##### 중요 테크닉
- vocab_size = 5
단어집합에서 사용할 단어의 개수

In [9]:
vocab_size = 5
del_word = [w for w, idx in word2idx.items() if idx > vocab_size]
print(del_word)

['life', 'done']

In [17]:
for w in del_word:
    del word2idx[w]
print(word2idx)

{"n't": 1, 'lovely': 2, 'love': 3, 'one': 4, 'made': 5}

#### Encoding 수동

In [21]:
word2idx['<oov>'] = 6
print(word2idx)

{"n't": 1, 'lovely': 2, 'love': 3, 'one': 4, 'made': 5, '<oov>': 6}

In [25]:
encoded = []

for sent in sentences:
    temp = []
    
    for w in sent:
        if w in word2idx: # 단어집합에 단어가 있다면!
            temp.append(word2idx[w]) # 단어에 맞는 정수를 추가해줭
        else: #단어가 없다면?
            temp.append(word2idx['<oov>'])
    encoded.append(temp)
print('변화 전 {} \n변화 후 {}'.format(sentences[:5], encoded[:5]))

변화 전 [["n't", 'lovely'], ["n't", 'wonderful'], ["n't", 'precious'], ['less', 'one', 'minute', 'old'], ['never', 'thought', 'love']]
변화 후 [[1, 2], [1, 6], [1, 6], [6, 4, 6, 6], [6, 6, 3]]

#### Encoding 자동(tf)

- fit_on_texts()에 코퍼스(sentences)를 넣으면 빈도 기준으로 만들어줌

In [29]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()

In [30]:
tokenizer.fit_on_texts(sentences) # sentences는 항상 2차원이어야 한다

In [39]:
print(tokenizer.word_index) # 인덱스
print(tokenizer.word_counts) # 빈도수

{"n't": 1, 'lovely': 2, 'love': 3, 'one': 4, 'made': 5, 'life': 6, 'done': 7, 'wonderful': 8, 'precious': 9, 'less': 10, 'minute': 11, 'old': 12, 'never': 13, 'thought': 14, 'making': 15, 'pretty': 16, 'truly': 17, 'angel': 18, 'best': 19, 'boy': 20, 'happy': 21, 'heaven': 22, 'blessed': 23, 'believe': 24, 'god': 25, 'given': 26, 'aisha': 27, 'meaning': 28, 'name': 29, 'londie': 30, 'could': 31, 'without': 32, 'conceived': 33}
 OrderedDict([("n't", 8), ('lovely', 6), ('wonderful', 1), ('precious', 1), ('less', 1), ('one', 4), ('minute', 1), ('old', 1), ('never', 1), ('thought', 1), ('love', 5), ('making', 1), ('made', 3), ('pretty', 1), ('truly', 1), ('angel', 1), ('best', 1), ('boy', 1), ('happy', 1), ('heaven', 1), ('blessed', 1), ('believe', 1), ('god', 1), ('done', 2), ('given', 1), ('life', 3), ('aisha', 1), ('meaning', 1), ('name', 1), ('londie', 1), ('could', 1), ('without', 1), ('conceived', 1)])

##### 인코딩, 디코딩

In [40]:
tokenizer.texts_to_sequences(sentences) # 인코딩

[[1, 2],
 [1, 8],
 [1, 9],
 [10, 4, 11, 12],
 [13, 14, 3],
 [15, 4, 2],
 [1, 2, 5, 3],
 [1, 16],
 [17, 18, 19],
 [20, 21],
 [22, 23],
 [1, 24, 25, 7],
 [26, 6, 4],
 [1, 2, 5, 3],
 [1, 2],
 [6, 3],
 [6, 27],
 [28, 29],
 [30, 31, 7],
 [32, 33, 4],
 [2, 5, 3]]

In [43]:
tokenizer.sequences_to_texts([[1, 2], [1, 9]]) # 디코딩

["n't lovely", "n't precious"]

##### OOV 및 Padding

추가했을 시,
oov : 1번 토큰 (default)  
pad : 0번 토큰 (default)

In [49]:
vocab_size = 5

# num_words : 단어집합 내에서 사용할 단어 개수
tokenizer = Tokenizer(num_words=vocab_size+2, oov_token='<oov>') # +2 왜? oov와 pad 토큰 추가해야 하니까
tokenizer.fit_on_texts(sentences)
print(tokenizer.texts_to_sequences(sentences))

[[2, 3], [2, 1], [2, 1], [1, 5, 1, 1], [1, 1, 4], [1, 5, 3], [2, 3, 6, 4], [2, 1], [1, 1, 1], [1, 1], [1, 1], [2, 1, 1, 1], [1, 1, 5], [2, 3, 6, 4], [2, 3], [1, 4], [1, 1], [1, 1], [1, 1, 1], [1, 1, 5], [3, 6, 4]]

In [51]:
print('{}'.format(tokenizer.word_index['<oov>']))

1

### 한국어 Tokenize

In [52]:
!pip install konlpy

Requirement already satisfied: konlpy in c:\programdata\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: beautifulsoup4==4.6.0 in c:\users\cpb06gamen\appdata\roaming\python\python38\site-packages (from konlpy) (4.6.0)
Requirement already satisfied: lxml>=4.1.0 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (4.6.1)
Requirement already satisfied: numpy>=1.6 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (1.19.2)
Requirement already satisfied: JPype1>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (1.0.2)
Requirement already satisfied: tweepy>=3.7.0 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (3.10.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from konlpy) (0.4.4)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from tweepy>=3.7.0->konlpy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.25.11)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)

In [54]:
import pandas as pd
import numpy as np
import urllib.request
from tensorflow.keras.preprocessing.text import Tokenizer
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

('ratings_test.txt', <http.client.HTTPMessage at 0x2345173fa60>)

In [118]:
df_train = pd.read_table('ratings_test.txt', encoding='utf-8')
df_train.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [58]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

null 값 제거  
중복 문장 제거  
특수 문자 및 영어 제거  
형태소 분리 후 Tokenizer 단어 집합 생성하기

In [122]:
import re
df_train['document'] = df_train['document'].str.replace('[^ㄱ-ㅎ가-힣 ]', ' ')
df_train['document'] = df_train['document'].str.replace('[ ]{2,}', ' ')

In [123]:
df_train_idx = df_train.loc[df_train['document'] == ' '].index
df_train = df_train.drop(df_train_idx)

In [126]:
df_train.drop_duplicates(['document'], keep='first', inplace=True)

In [127]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48529 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48529 non-null  int64
 1   document  48529 non-null  object
 2   label     48529 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [128]:
from konlpy.tag import Okt, Komoran
tokenizer = Tokenizer()
okt = Okt()
komoran = Komoran()

In [150]:
tokenizer.fit_on_texts(temp3) # sentences는 항상 2차원이어야 한다
tokenizer.texts_to_sequences(temp3)

[[665],
 [87],
 [68],
 [159],
 [1],
 [23],
 [8],
 [11],
 [4677],
 [1543],
 [20],
 [929],
 [745],
 [9],
 [48],
 [848],
 [2567],
 [10406],
 [2678],
 [89],
 [361],
 [104],
 [110],
 [420],
 [142],
 [222],
 [16],
 [7846],
 [118],
 [1957],
 [105],
 [16207],
 [39],
 [19],
 [601],
 [157],
 [71717],
 [10],
 [5408],
 [6393],
 [203],
 [1],
 [3757],
 [145],
 [28],
 [3],
 [203],
 [2],
 [729],
 [73],
 [1114],
 [377],
 [281],
 [22],
 [71718],
 [13],
 [16208],
 [66],
 [1958],
 [3288],
 [2420],
 [4409],
 [10],
 [16209],
 [168],
 [440],
 [1248],
 [71719],
 [2421],
 [1028],
 [56],
 [265],
 [3289],
 [16210],
 [2837],
 [51],
 [7],
 [433],
 [2679],
 [4],
 [1249],
 [71720],
 [52],
 [2568],
 [16211],
 [84],
 [2],
 [5],
 [81],
 [383],
 [52],
 [2752],
 [41],
 [3153],
 [3],
 [1783],
 [429],
 [4],
 [12588],
 [915],
 [3154],
 [3],
 [7032],
 [202],
 [42],
 [1],
 [12589],
 [3970],
 [2288],
 [317],
 [16],
 [10407],
 [71721],
 [397],
 [65],
 [183],
 [1105],
 [3],
 [1410],
 [380],
 [649],
 [5],
 [71722],
 [534],
 [589],
 [1139],
 [11],
 [1189],
 [29],
 [1704],
 [280],
 [11],
 [4678],
 [6],
 [10408],
 [16212],
 [10409],
 [3],
 [1704],
 [280],
 [6],
 [32],
 [16213],
 [13],
 [5409],
 [332],
 [7847],
 [84],
 [6394],
 [2],
 [41],
 [237],
 [4],
 [1224],
 [167],
 [4410],
 [2],
 [3],
 [8893],
 [341],
 [11],
 [10410],
 [1175],
 [40],
 [107],
 [24],
 [1570],
 [1283],
 [414],
 [2],
 [3],
 [1544],
 [878],
 [6395],
 [2],
 [4],
 [150],
 [792],
 [6],
 [178],
 [36],
 [2],
 [71723],
 [71724],
 [53],
 [11],
 [27],
 [5],
 [2],
 [5864],
 [1],
 [337],
 [116],
 [16214],
 [8],
 [1],
 [27],
 [2],
 [10],
 [6396],
 [178],
 [84],
 [3290],
 [4],
 [71725],
 [12590],
 [2017],
 [1140],
 [3441],
 [9],
 [23],
 [11],
 [68],
 [191],
 [28],
 [626],
 [1082],
 [37],
 [1876],
 [17],
 [95],
 [24],
 [10],
 [37],
 [16215],
 [737],
 [7],
 [37],
 [1911],
 [16128],
 [118],
 [61],
 [7],
 [4174],
 [1642],
 [7848],
 [71726],
 [22],
 [558],
 [673],
 [12591],
 [3966],
 [139],
 [3],
 [5410],
 [8894],
 [220],
 [34],
 [441],
 [204],
 [253],
 [220],
 [10],
 [8895],
 [71727],
 [71728],
 [1],
 [83],
 [220],
 [3],
 [656],
 [148],
 [300],
 [3],
 [1127],
 [1],
 [2061],
 [76],
 [1094],
 [71729],
 [19],
 [5865],
 [16216],
 [71730],
 [11],
 [100],
 [5034],
 [573],
 [628],
 [3971],
 [462],
 [18],
 [41],
 [302],
 [666],
 [71731],
 [182],
 [809],
 [4411],
 [83],
 [23],
 [71732],
 [66],
 [83],
 [485],
 [1141],
 [214],
 [567],
 [121],
 [63],
 [2],
 [243],
 [5866],
 [374],
 [3],
 [12592],
 [1784],
 [3],
 [16217],
 [18],
 [31],
 [4679],
 [71733],
 [394],
 [18],
 [41],
 [247],
 [10411],
 [1],
 [377],
 [4412],
 [1571],
 [16218],
 [3],
 [5035],
 [972],
 [6],
 [2753],
 [49],
 [71734],
 [71735],
 [879],
 [916],
 [47],
 [12593],
 [188],
 [16219],
 [71736],
 [12594],
 [12595],
 [7033],
 [130],
 [1],
 [83],
 [1912],
 [71737],
 [2],
 [362],
 [33],
 [1959],
 [188],
 [1],
 [318],
 [71738],
 [803],
 [5],
 [71739],
 [880],
 [57],
 [1411],
 [29],
 [282],
 [313],
 [71740],
 [6397],
 [13],
 [282],
 [138],
 [282],
 [864],
 [916],
 [38],
 [71741],
 [5036],
 [2938],
 [69],
 [295],
 [530],
 [2062],
 [870],
 [2170],
 [95],
 [32],
 [2289],
 [540],
 [657],
 [848],
 [1065],
 [8896],
 [124],
 [3155],
 [1128],
 [109],
 [308],
 [64],
 [1],
 [16220],
 [81],
 [68],
 [1225],
 [249],
 [349],
 [1054],
 [2],
 [67],
 [46],
 [16221],
 [100],
 [60],
 [63],
 [2],
 [59],
 [162],
 [1],
 [204],
 [1785],
 [2],
 [12],
 [12],
 [286],
 [613],
 [128],
 [496],
 [23],
 [290],
 [1226],
 [12596],
 [2],
 [54],
 [30],
 [53],
 [262],
 [42],
 [146],
 [165],
 [5037],
 [22],
 [33],
 [71742],
 [168],
 [129],
 [23],
 [3758],
 [8],
 [12],
 [888],
 [681],
 [15],
 [17],
 [232],
 [554],
 [66],
 [2],
 [474],
 [1673],
 [96],
 [4],
 [364],
 [9],
 [10412],
 [1545],
 [4],
 [16222],
 [11],
 [37],
 [10413],
 [156],
 [61],
 [5],
 [1503],
 [64],
 [1],
 [1828],
 [6398],
 [9],
 [197],
 [3],
 [16223],
 [139],
 [193],
 [41],
 [93],
 [6399],
 [2359],
 [49],
 [23],
 [10414],
 [105],
 [4680],
 [339],
 [8],
 [3043],
 [546],
 [36],
 [1954],
 [84],
 [64],
 [663],
 [5],
 [52],
 [881],
 [17],
 [23],
 [1643],
 [118],
 [7034],
 [105],
 [7849],
 [9],
 [7849],
 [50],
 [133],
 [9],
 [133],
 [400],
 [205],
 [7850],
 [135],
 [200],
 [1740],
 [283],
 [2838],
 [1367],
 [71743],
 [7035],
 [3585],
 [113],
 [71744],
 [473],
 [68],
 [159],
 [180],
 [51],
 [4175],
 [1],
 [38],
 [2],
 [159],
 [281],
 [9],
 [247],
 [1],
 [10415],
 [7036],
 [71745],
 [3],
 [7037],
 [3],
 [20],
 [44],
 [18],
 [41],
 [12597],
 [5867],
 [3],
 [12598],
 [162],
 [1],
 [6],
 [2422],
 [497],
 [11],
 [125],
 [71746],
 [9],
 [1542],
 [664],
 [94],
 [404],
 [1],
 [650],
 [71747],
 [667],
 [29],
 [320],
 [9],
 [973],
 [10],
 [8],
 [128],
 [12599],
 [9],
 [917],
 [64],
 [6],
 [1829],
 [578],
 [974],
 [716],
 [10],
 [29],
 [16224],
 [198],
 [14],
 [182],
 [133],
 [9],
 [16225],
 [10416],
 [4],
 [202],
 [25],
 [6],
 [3972],
 [1913],
 [2171],
 [452],
 [287],
 [130],
 [71748],
 [1467],
 [819],
 [12600],
 [38],
 [685],
 [203],
 [1],
 [71749],
 [36],
 [825],
 [810],
 [1737],
 [2839],
 [12571],
 [16226],
 [983],
 [48],
 [3044],
 [71750],
 [71751],
 [233],
 [110],
 [16],
 [1238],
 [27],
 [5],
 [1],
 [25],
 [502],
 [8897],
 [71752],
 [1008],
 [87],
 [16227],
 [34],
 [71753],
 [3],
 [5038],
 [96],
 [11],
 [564],
 [8898],
 [4413],
 [27],
 [106],
 [406],
 [98],
 [43],
 [127],
 [57],
 [81],
 [71754],
 [22],
 [4681],
 [4414],
 [19],
 [12601],
 [168],
 [52],
 [284],
 [22],
 [360],
 [234],
 [179],
 [71755],
 [1142],
 [481],
 [46],
 [3291],
 [620],
 [5039],
 [29],
 [47],
 [5],
 [2479],
 [5],
 [252],
 [221],
 [286],
 [123],
 [2358],
 [23],
 [1284],
 [2236],
 [469],
 [466],
 [62],
 [3973],
 [53],
 [8],
 [8899],
 [48],
 [918],
 [1],
 [704],
 [337],
 [109],
 [1129],
 [5411],
 [449],
 [71756],
 [50],
 [5040],
 [7851],
 [2680],
 [1],
 [602],
 [415],
 [541],
 [286],
 [56],
 [7],
 [1441],
 [319],
 [7],
 [8900],
 [24],
 [7],
 [272],
 [259],
 [7],
 [221],
 [2115],
 [1468],
 [12602],
 [1914],
 [43],
 [8901],
 [71757],
 [975],
 [68],
 [782],
 [9],
 [645],
 [6400],
 [694],
 [1],
 [71758],
 [772],
 [5],
 [950],
 [686],
 [2237],
 [71759],
 [71760],
 [2],
 [923],
 [11],
 [170],
 [705],
 [16228],
 [3156],
 [16229],
 [71761],
 [1],
 [85],
 [466],
 [295],
 [37],
 [1271],
 [12603],
 [893],
 [894],
 [22],
 [71],
 [137],
 [113],
 [352],
 [324],
 [12604],
 [4682],
 [1],
 [38],
 [17],
 [10417],
 [17],
 [19],
 [64],
 [12605],
 [673],
 [6],
 [113],
 [738],
 [405],
 [286],
 [291],
 [32],
 [273],
 [288],
 [882],
 [6],
 [10418],
 [16],
 [964],
 [75],
 [65],
 [164],
 [5868],
 [7852],
 [7038],
 [12],
 [1227],
 [124],
 [7853],
 [169],
 [2237],
 [11],
 [3045],
 [218],
 [10419],
 [156],
 [6401],
 [4],
 [134],
 [2238],
 [10420],
 [7],
 [811],
 [724],
 [16230],
 [38],
 [8902],
 [51],
 [127],
 [238],
 [92],
 [3],
 [3292],
 [1960],
 [181],
 [10421],
 [9],
 [365],
 [202],
 [98],
 [812],
 [21],
 [1029],
 [4415],
 [22],
 [16231],
 [700],
 [3157],
 [143],
 [2116],
 [813],
 [49],
 [29],
 [202],
 [71762],
 [6],
 [71763],
 [1083],
 [21],
 [2569],
 [185],
 [10],
 [71764],
 [1018],
 [71765],
 [706],
 [282],
 [8],
 [16232],
 [75],
 [107],
 [341],
 [2480],
 [40],
 [2480],
 [486],
 [2480],
 [102],
 [1469],
 [739],
 [46],
 [1349],
 [10422],
 [237],
 [3293],
 [7],
 [68],
 [81],
 [68],
 [224],
 [478],
 [12606],
 [12569],
 [74],
 [58],
 [871],
 [47],
 [113],
 [61],
 [66],
 [2],
 [8903],
 [8903],
 [8903],
 [8903],
 [36],
 [56],
 [89],
 [221],
 [16233],
 [773],
 [172],
 [645],
 [71766],
 [250],
 [395],
 [106],
 [16234],
 [939],
 [2063],
 [637],
 [74],
 [16],
 [171],
 [4416],
 [339],
 [5],
 [4683],
 [71767],
 [71768],
 [51],
 [1],
 [3759],
 [230],
 [81],
 [195],
 [29],
 [646],
 [3],
 [2],
 [2064],
 [171],
 [166],
 [1572],
 [86],
 [4176],
 [8],
 [26],
 [1350],
 [6402],
 [5],
 [4684],
 [12607],
 [175],
 [4],
 [71769],
 [71770],
 [263],
 [1],
 [71771],
 [93],
 [109],
 [76],
 [262],
 [38],
 [10423],
 [1305],
 [85],
 [19],
 [3586],
 [16235],
 [4417],
 [5412],
 [3],
 [3974],
 [774],
 [849],
 [71772],
 [72],
 [16236],
 [1502],
 [137],
 [804],
 [3156],
 [275],
 [235],
 [4],
 [755],
 [1],
 [67],
 [71773],
 [2117],
 [172],
 [802],
 [1],
 ...]

#### 모범답안

In [152]:
df_train = pd.read_table('ratings_test.txt', encoding='utf-8')
df_train.head()

df_train = df_train.drop_duplicates(subset=['document'])
df_train = df_train.dropna(how='any')

df_train['document'] = df_train['document'].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

df_train['document'].replace('', np.nan, inplace=True)
df_train = df_train.dropna(how='any')

# 확인
df_train['document'].nunique() # 중복 제외한 개수
df_train.isnull().sum()

id          0
document    0
label       0
dtype: int64

##### stemming, norm -> stopword가 일반적!

In [154]:
stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다']

from konlpy.tag import Okt
okt = Okt()

X_train = []

for sent in df_train['document']:
    temp_X = []
    temp_X = okt.morphs(sent, stem=True, norm=True)
    temp_X = [w for w in temp_X if not w in stopwords]
    
    X_train.append(temp_X)

X_train[:3]

[['굳다', 'ㅋ'],
 ['뭐',
  '야',
  '이',
  '평점',
  '들',
  '은',
  '나쁘다',
  '않다',
  '점',
  '짜다',
  '리',
  '는',
  '더',
  '더욱',
  '아니다'],
 ['지루하다', '않다', '완전', '막장', '임', '돈', '주다', '보기', '에는']]

In [156]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

tokenizer.texts_to_sequences(X_train)[:3]

[[637, 108],
 [76, 184, 1, 36, 11, 10, 406, 32, 33, 295, 778, 12, 56, 872, 29],
 [82, 32, 107, 390, 126, 127, 74, 164, 261]]

## TF-IDF 실습

In [291]:
def term_freq(term, document):
    count = 0
    for i in document.split():
        if i == term:
            count = count + 1 
    return count    

def document_freq(term, documents):
    count = 0
    for i in documents:
        if term in i:
            count = count + len([i])
    return count
    

def idf(term, documents):
    from math import log
    count = document_freq(term, documents)
#     n = 0
#     for i in documents:
#         for j in i.split():
#             n = n + len([j])
    return log(len(documents) / (1 + count))



def tf_idf(term, documents, idx):
    idf_tmp = idf(term, documents)
    tf_tmp = term_freq(term, documents[idx])
    return tf_tmp*idf_tmp

In [175]:
doc = '동해 물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 동해 가고 싶다'

docs = [
  '동해 물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 동해 가고 싶다',
  '남산 위에 저 소나무, 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 소나무 이쁘다',
  '가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 가을 하늘 보고 싶다.',
  '이 기상과 이 마음으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 나라를 사랑하자'
]

In [269]:
term_freq('동해', doc)

2

In [268]:
document_freq('동해', docs)

1

In [292]:
idf('동해', docs)

0.6931471805599453

In [293]:
tf_idf('하늘', docs, 2)

1.3862943611198906

### TF-IDF 모범답안

In [353]:
def term_freq(term, document):
    return document.count(term)


def document_freq(term, documents):
    count = 0
    for i in documents:
        # True = 1, False = 0 으로 term이 나옴
        count += term in i
    return count
    

def idf(term, documents):
    from math import log
    count = document_freq(term, documents)

    n = len(set(' '.join(documents).split()))
    
    return log(len(documents) / (1 + count))


def tf_idf(term, documents, idx):
    idf_tmp = idf(term, documents)
    tf_tmp = term_freq(term, documents[idx])
    return tf_tmp*idf_tmp

### TF-IDF 전처리 및 라이브러리

In [296]:
docs = [
  '동해 물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 동해 가고 싶다',
  '남산 위에 저 소나무, 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 소나무 이쁘다',
  '가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 가을 하늘 보고 싶다.',
  '이 기상과 이 마음으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세. 나라를 사랑하자'
]

In [299]:
from konlpy.tag import Okt
okt = Okt()

In [306]:
vocab = list(set(w for doc in docs for w in okt.nouns(doc)))
print(vocab)

['보우', '만세', '물', '이', '대한', '소나무', '보전', '사랑', '불변', '동해', '화려', '무궁화', '남산', '사람', '일편단심', '하느님', '하사', '마르고', '함', '가슴', '우리나라', '강산', '데', '달', '활', '길이', '하늘', '우리', '충성', '마음', '저', '가을', '나라', '철갑', '바람', '서리', '보고', '듯', '위', '구름', '기상', '백두산', '삼천리']

#### 가나다 순으로 정렬

In [308]:
vocab.sort()
vocab[:3]

['가슴', '가을', '강산']

#### DTM 실습

- 하나의 sentence 마다 빈도 벡터를 구한다
- 모두 모은다

In [346]:
lst1 = []
lst2 = []
lst3 = []
lst4 = []
for i in range(len(vocab)):
    lst1.append(term_freq(vocab[i], docs[0]))
for i in range(len(vocab)):
    lst2.append(term_freq(vocab[i], docs[1]))
for i in range(len(vocab)):
    lst3.append(term_freq(vocab[i], docs[2]))
for i in range(len(vocab)):
    lst4.append(term_freq(vocab[i], docs[3]))
# print(lst1, lst2, lst3, lst4)
# print(len(lst1), len(lst2), len(lst3), len(lst4))
    
tmp = pd.DataFrame([lst1, lst2, lst3, lst4], columns=vocab)
tmp

,가슴,가을,강산,구름,기상,길이,나라,남산,달,대한,...,일편단심,저,철갑,충성,하느님,하늘,하사,함,화려,활
0,0,0,1,0,0,1,1,0,0,2,...,0,0,0,0,1,0,1,0,1,0
1,0,0,1,0,1,1,0,1,0,2,...,0,1,1,0,0,0,0,1,1,0
2,1,2,1,1,0,1,0,0,1,2,...,1,0,0,0,0,2,0,0,1,1
3,0,0,1,0,1,1,2,0,0,2,...,0,0,0,1,0,0,0,0,1,0

#### DTM 모범답안

In [348]:
# list comprehension
pd.DataFrame([list(map(lambda x: term_freq(x, doc), vocab)) for doc in docs], columns=vocab)

# for문
res = []
for doc in docs:
    tf_res = []
    for i in vocab:
        tf_res.append(term_freq(i, doc))
    res.append(tf_res)
    
fin = pd.DataFrame(res, columns=vocab)

#### IDF 결과를 DataFrame으로 확인

In [356]:
res = []
for term in vocab:
    res.append(idf(term, docs))

pd.DataFrame(res, index=vocab, columns=['IDF']).head()

         IDF
가슴  0.693147
가을  0.693147
강산 -0.223144
구름  0.693147
기상  0.287682

#### TF-IDF 결과를 DataFrame으로 확인

In [357]:
res = []
for i in range(len(docs)):
    tf_idf_res = []
    for term in vocab:
        tf_idf_res.append(tf_idf(term, docs, i))
    res.append(tf_idf_res)

pd.DataFrame(res, columns=vocab)

,가슴,가을,강산,구름,기상,길이,나라,남산,달,대한,...,일편단심,저,철갑,충성,하느님,하늘,하사,함,화려,활
0,0.000000,0.000000,-0.223144,0.000000,0.000000,-0.223144,0.287682,0.000000,0.000000,-0.446287,...,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,0.693147,0.000000,-0.223144,0.000000
1,0.000000,0.000000,-0.223144,0.000000,0.287682,-0.223144,0.000000,0.693147,0.000000,-0.446287,...,0.000000,0.693147,0.693147,0.000000,0.000000,0.000000,0.000000,0.693147,-0.223144,0.000000
2,0.693147,1.386294,-0.223144,0.693147,0.000000,-0.223144,0.000000,0.000000,0.693147,-0.446287,...,0.693147,0.000000,0.000000,0.000000,0.000000,1.386294,0.000000,0.000000,-0.223144,0.693147
3,0.000000,0.000000,-0.223144,0.000000,0.287682,-0.223144,0.575364,0.000000,0.000000,-0.446287,...,0.000000,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,-0.223144,0.000000

### Tensorflow로 BoW 구현하기

In [358]:
from tensorflow.keras.preprocessing.text import Tokenizer

t = Tokenizer()
# 형태소 분리 안 한 상태로 ㄱㄱ
t.fit_on_texts(docs)

print(t.word_index)

{'무궁화': 1, '삼천리': 2, '화려': 3, '강산': 4, '대한': 5, '사람': 6, '대한으로': 7, '길이': 8, '보전하세': 9, '동해': 10, '싶다': 11, '소나무': 12, '우리': 13, '가을': 14, '하늘': 15, '이': 16, '물과': 17, '백두산이': 18, '마르고': 19, '닳도록': 20, '하느님이': 21, '보우하사': 22, '우리나라': 23, '만세': 24, '가고': 25, '남산': 26, '위에': 27, '저': 28, '철갑을': 29, '두른': 30, '듯': 31, '바람': 32, '서리': 33, '불변함은': 34, '기상일세': 35, '이쁘다': 36, '공활한데': 37, '높고': 38, '구름': 39, '없이': 40, '밝은': 41, '달은': 42, '가슴': 43, '일편단심일세': 44, '보고': 45, '기상과': 46, '마음으로': 47, '충성을': 48, '다하여': 49, '괴로우나': 50, '즐거우나': 51, '나라': 52, '사랑하세': 53, '나라를': 54, '사랑하자': 55}

#### DTM 만들기

In [359]:
print(t.texts_to_matrix(docs, mode='count'))

[[0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1.
  1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 2. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 2. 2. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1.
  1. 1. 1. 1. 1. 1. 1. 1.]]

#### TF-IDF 만들기

In [361]:
pd.DataFrame(t.texts_to_matrix(docs, mode='tfidf'))

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,0.0,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,0.587787,...,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612